.page_container {
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    background: url('../assets/background.jpg') no-repeat center center/cover;
  }
  
  .hero_section {
    background-color: #104113;
    color: white;
    text-align: center;
    padding: 50px 0;
  }
  
  .hero_title {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 400;
  }
  
  .hero_description {
    font-size: 1.25rem;
    margin: 20px 0;
  }
  
  .hero_button {
    margin: 10px;
    padding: 15px 30px;
    background-color: #199a24;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .hero_button:hover {
    background-color: #28bf35;
  }
  
  .section {
    padding: 50px 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #333;
    text-align: center;
  }
  
  .section_dark {
    padding: 50px 20px;
    background-color: #17401a;
    color: white;
    text-align: center;
  }
  
  .section_title {
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
  }
  
  .section_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .team_member, .team_member_dark {
    max-width: 300px;
    padding: 20px;
    background-color: rgb(218, 255, 219);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .team_member_dark {
    background-color: #1c7523;
  }
  
  .team_member_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .team_member_name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .team_member_role {
    font-size: 1.25rem;
    color: #666;
  }

  .team_member_role_dark {
    color: #c1ffaa;
  }
  
  .team_member_bio {
    color: #444;
  }
  